body {
  padding: 20px;
}

.form-control {
  width: 20% !important;
}

.button-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container * {
  margin-left: 5px;
  margin-right: 5px;
}

video:hover {
  cursor: pointer;
}

.camera-container {
  display: flex;
  align-items: center;
/*   margin: auto; */
}

video {
  margin: auto;
}

canvas {
  margin: auto;
}
